<body>
    <form [formGroup]="form" (ngSubmit)="submit()">
    
    <button id="previousButton"  class="btn btn-primary" value="Previous" type="submit" (click)="back()">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </button>
    <button id="nextButton" id="nextButton" class="btn btn-primary" value="Next" type="submit">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </button>
    <h1>Step 5 - Accessories</h1>
    <div>
        <input type="checkbox">
        <label>Canopy +€449.00</label>
    </div>
    <div>
        <input type="checkbox">
        <label>Damper kit +€120.00</label>
    </div>
    <div>
        <input type="checkbox">
        <label>Honeycomb board +€188.00</label>
    </div>
    <div>
        <input type="checkbox">
        <label>Convoy box +€833.00</label>
    </div>
    <div>
        <input type="checkbox">
        <label>Aluminium box +€341.00</label>
    </div>
    <div>
        <input type="checkbox">
        <label>Plastic box +€43.00</label>
    </div>
    <h2>BBX</h2>
    <div>
        <input type="radio">
        <label>Blue +€354.00</label>
    </div>
    <div>
        <input type="radio">
        <label>Green +€354.00</label>
    </div>
    <div>
        <input type="radio">
        <label>Yellow +€354.00</label>
    </div>
    <h2>Billboard</h2>
    <div>
        <input type="checkbox">
        <label>1 +€69.00</label>
    </div>
    <div>
        <input type="checkbox">
        <label>2 +€69.00</label>
    </div>
    <div>
        <input type="checkbox">
        <label>3 +€69.00</label>
    </div>
    <div>
        <input type="checkbox">
        <label>4 +€69.00</label>
    </div>
    <div>
        <input type="checkbox">
        <label>5 +€69.00</label>
    </div>
    <div>
        <input type="checkbox">
        <label>6 +€69.00</label>
    </div>
    <div>
        <input type="checkbox">
        <label>7 +€69.00</label>
    </div>

    <div>
        <p>
            The BBX side + cover, Foldable seat and Canopy all need the HCB.
        </p>
    </div>
    </form>
</body>