<body>
    <form [formGroup]="form" (ngSubmit)="submit()">
    
    <button id="previousButton"  class="btn btn-primary" value="Previous" type="submit" (click)="back()">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </button>
    <button id="nextButton" id="nextButton" class="btn btn-primary" value="Next" type="submit">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </button>





 <div class='wrapper'>  
     <h1> Step 5 - Accessories</h1>  
      <div class='col-sm-4'>  
       <div class='checkbox'>   
     <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/d/o/dogcage_1.png' class='imgbikewizard' >  
     <label><input type='checkbox' value=''>Canopy</label>  
     </div>   
       <div class='checkbox'>   
     <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/b/u/bullitt_damper_kit_2.jpg' class='imgbikewizard' >  
     <label><input type='checkbox' value=''>Damper kit</label>  
     </div>   
       <div class='checkbox'>   
     <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/h/o/honeycomb-platform.jpg' class='imgbikewizard' >  
     <label><input type='checkbox' value=''>Honeycomb board</label>  
     </div>   
       <div class='checkbox'>   
     <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/7/b/7b31bee8-1a42-45ba-b713-d3bd4086d8d9_lan.png' class='imgbikewizard' >  
     <label><input type='checkbox' value=''>Convoy box</label>  
     </div>   
       <div class='checkbox'>   
     <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/a/l/alubox.png' class='imgbikewizard' >  
     <label><input type='checkbox' value=''>Aluminium box</label>  
     </div>   
       <div class='checkbox'>   
     <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/p/l/plastbox.png' class='imgbikewizard' >  
     <label><input type='checkbox' value=''>Plastic box</label>  
     </div>   
     </div>  

      <div class='col-sm-4'>  
     <h3> BBX </h3>  

   <div class='radio'>   
     <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/b/b/bbx-side-panel-kit-bluebird.jpg' class='imgbikewizard' >  
     <label><input type='radio' value='optradio'>BBX SIDE PANEL KIT: BLUEBIRD</label>  
     </div>   

       <div class='radio'>   
     <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/b/b/bbx-side-panel-kit-submarine.jpg' class='imgbikewizard' >  

     <label><input type='radio' value='optradio'>BBX SIDE PANEL KIT: SUBMARINE</label>  
     </div>   
       <div class='radio'>   
     <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/b/b/bbx-side-panel-kit-race.jpg' class='imgbikewizard' >  

     <label><input type='radio' value='optradio'>BBX SIDE PANEL KIT: RACE</label>  
     </div>  
     



     <div class='radio'>   
        <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/b/b/bbx-side-panel-kit-lizardking.jpg' class='imgbikewizard' >  
   
        <label><input type='radio' value='optradio'>BBX SIDE PANEL KIT: LIZZARD KING</label>  
        </div> 
    <div class='radio'>   
            <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/b/b/bbx-side-panel-kit-pepper.jpg' class='imgbikewizard' >  
       
            <label><input type='radio' value='optradio'>BBX SIDE PANEL KIT: PEPPER</label>  
    </div> 
    <div class='radio'>   
                <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/b/b/bbx-side-panel-kit-clockworks.jpg' class='imgbikewizard' >  
           
                <label><input type='radio' value='optradio'>BBX SIDE PANEL KIT: CLOCKWORK</label>  
    </div> 
    <div class='radio'>   
        <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/b/b/bbx-side-panel-kit-classic.jpg' class='imgbikewizard' >  
   
        <label><input type='radio' value='optradio'>BBX SIDE PANEL KIT: CLASSIC</label>  
</div> 
<div class='radio'>   
    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/b/b/bbx-side-panel-kit-white.jpg' class='imgbikewizard' >  

    <label><input type='radio' value='optradio'>BBX SIDE PANEL KIT: MILK PLUS</label>  
</div> 

     
     </div>  

      <div class='col-sm-4'>  
     <h3> Billboard </h3>  

       <div class='radio'>   
     <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/b/i/billboard-chuck-yellow.jpg' class='  imgbikewizard' >  
     <label><input type='radio' value='optradio'>BILLBOARD SUBMARINE </label>  
     </div>   

       <div class='radio'>   
     <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/b/i/billboard-race-dark-green.jpg' class='  imgbikewizard' >  
     <label><input type='radio' value='optradio'>BILLBOARD RACE  </label>  
     </div>   

       <div class='radio'>   
     <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/b/i/billboard-lizzard-bright-green.jpg' class='  imgbikewizard' >  
     <label><input type='radio' value='optradio'>BILLBOARD LIZZARD KING</label>  
     </div>   

       <div class='radio'>   
     <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/b/i/billboard-blue-bright-blue.jpg' class='  imgbikewizard' >  

     <label><input type='radio' value='optradio'>BILLBOARD BLUEBIRD</label>  
     </div>   
       <div class='radio'>   
     <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/b/i/billboard-clockwork-orange.jpg' class='  imgbikewizard' >  

     <label><input type='radio' value='optradio'>BILLBOARD CLOCKWORK</label>  
     </div>   
       <div class='radio'>   
     <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/b/i/billboard-red.jpg' class='  imgbikewizard' >  

     <label><input type='radio' value='optradio'>BILLBOARD PEPPER</label>  
     </div>   
       <div class='radio'>   
     <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/b/i/billboard-classic-black.jpg' class='  imgbikewizard' >  

     <label><input type='radio' value='optradio'>BILLBOARD CLASSIC</label>  
     </div>   
     <div class='radio'>   
        <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/b/i/billboard-milkplus-white.jpg' class='  imgbikewizard' >  
   
        <label><input type='radio' value='optradio'>BILLBOARD MILK PLUS</label>  
        </div> 
     </div>  
         <br> <br>  
      <div class='bikenote' >  <p >The BBX side + cover, Foldable seat and Canopy all need the HCB.<p> </div>   
     </div>










    </form>
</body>