<body>
    <form [formGroup]="form" (ngSubmit)="submit()">
    
    <button id="previousButton"  class="btn btn-primary" value="Previous" type="submit" (click)="back()">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </button>
    <button id="nextButton" id="nextButton" class="btn btn-primary" value="Next" type="submit">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </button>





 <div class='wrapper'>  
     <h1> Step 5 - Accessories</h1>  
      <div class='col-sm-4'>  
       <div class='checkbox'>   
     <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/d/o/dogcage_1.png' class='imgbikewizard' >  
     <label><input type='checkbox' value=''>Canopy</label>  
     </div>   
       <div class='checkbox'>   
     <img src='http://shop.larryvsharry.com/skin/frontend/lvsh/lvsh/images/alubox_1.png' class='imgbikewizard' >  
     <label><input type='checkbox' value=''>Damper kit</label>  
     </div>   
       <div class='checkbox'>   
     <img src='http://shop.larryvsharry.com/skin/frontend/lvsh/lvsh/images/honeycompboard.png' class='imgbikewizard' >  
     <label><input type='checkbox' value=''>Honeycomb board</label>  
     </div>   
       <div class='checkbox'>   
     <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/7/b/7b31bee8-1a42-45ba-b713-d3bd4086d8d9_lan.png' class='imgbikewizard' >  
     <label><input type='checkbox' value=''>Convoy box</label>  
     </div>   
       <div class='checkbox'>   
     <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/a/l/alubox.png' class='imgbikewizard' >  
     <label><input type='checkbox' value=''>Aluminium box</label>  
     </div>   
       <div class='checkbox'>   
     <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/p/l/plastbox.png' class='imgbikewizard' >  
     <label><input type='checkbox' value=''>Plastic box</label>  
     </div>   
     </div>  

      <div class='col-sm-4'>  
     <h3> BBX </h3>  

 <img src='http://shop.larryvsharry.com/skin/frontend/lvsh/lvsh/images/sidepanel_kit.png' class='imgbikewizard' >  




   <div class='radio'>   
     <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/b/b/bbx-sidepanel-kit-indigo.png' class='imgbikewizard' >  
     <label><input type='radio' value='optradio'>Blue</label>  
     </div>   

       <div class='radio'>   
     <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/b/b/bbx-sidepanel-kit-race.png' class='imgbikewizard' >  

     <label><input type='radio' value='optradio'>Green</label>  
     </div>   
       <div class='radio'>   
     <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/b/b/bbx-sidepanel-kit-submarine_1.png' class='imgbikewizard' >  

     <label><input type='radio' value='optradio'>Yellow</label>  
     </div>   
     </div>  

      <div class='col-sm-4'>  
     <h3> Billboard </h3>  
     <img src='http://shop.larryvsharry.com/skin/frontend/lvsh/lvsh/images/billboard.png' class='imgbikewizard' >  

       <div class='radio'>   
     <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/3/2/32_1_1.png' class='imgcolorbikewizard' >  
     <label><input type='radio' value='optradio'>1 </label>  
     </div>   

       <div class='radio'>   
     <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/3/2/323_2.png' class='imgcolorbikewizard' >  
     <label><input type='radio' value='optradio'>2   </label>  
     </div>   

       <div class='radio'>   
     <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/5/0/502_4.png' class='imgcolorbikewizard' >  
     <label><input type='radio' value='optradio'>3  </label>  
     </div>   

       <div class='radio'>   
     <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/5/0/503_3.png' class='imgcolorbikewizard' >  

     <label><input type='radio' value='optradio'>4  </label>  
     </div>   
       <div class='radio'>   
     <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/5/0/504_1_1.png' class='imgcolorbikewizard' >  

     <label><input type='radio' value='optradio'>5  </label>  
     </div>   
       <div class='radio'>   
     <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/5/0/506_3.png' class='imgcolorbikewizard' >  

     <label><input type='radio' value='optradio'>6  </label>  
     </div>   
       <div class='radio'>   
     <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/5/0/508_3.png' class='imgcolorbikewizard' >  

     <label><input type='radio' value='optradio'>7  </label>  
     </div>   

     </div>  
         <br> <br>  
      <div class='bikenote' >  <p >The BBX side + cover, Foldable seat and Canopy all need the HCB.<p> </div>   
     </div>










    </form>
</body>