<div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped active" id="tempid" role="progressbar"
  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
    0%
  </div>
</div>
<div>
  <input type="button" id="previousButton" class="btn btn-primary" value="Previous" [disabled]="prevDisabled" (click)="previous()">
  <input type="button" id="nextButton" class="btn btn-primary" value="Start" [disabled]="nextDisabled" (click)="next()">
      <router-outlet></router-outlet>
</div>