#previousButton {
    float: left;
    margin-left: 10px;
    height: 900px;
    width: 100px;
    background-color:rgb(172, 172, 172);
    opacity: 0.5;
    border:0px;
    
}
#nextButton {
    float: right;
    margin-right: 10px;
    height: 900px;
    width: 100px;
    background-color:rgb(172, 172, 172);
    opacity: 0.5;
    border:0px;
    
}


#tempid {
    width: 100%;
}
body{
    background-color:rgb(231, 231, 231);
}
