<h1>Choose your color</h1>
<div>
    <input type="radio"><label>Classic</label>
</div>
<div>
    <input type="radio"><label>Race</label>
</div>
<div>
    <input type="radio"><label>Pepper</label>
</div>
<div>
    <input type="radio"><label>Submarine</label>
</div>
<div>
    <input type="radio"><label>Bluebird</label>
</div>
<div>
    <input type="radio"><label>Milk Plus</label>
</div>
<div>
    <input type="radio"><label>Clockwork</label>
</div>
<div>
    <input type="radio"><label>LizardKing</label>
</div>
<div>
    <input type="radio"><label>Rå</label>
</div>