<body>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class='wrapper'>
                <button id="previousButton"  class="btn btn-primary" value="Previous" type="submit" (click)="back()">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                      </button>
            <button id="nextButton" id="nextButton" class="btn btn-primary" value="Next" type="submit">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </button>


            <h1> Step 2 - Choose Your Color</h1>
            <div class='col-sm-offset-3 col-sm-2'>
                <div class='radio'>
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/c/i/circle-classic_1.png' class='imgcolorbikewizard'> 
                    <label><input type='radio' name='optradio' 
                        [checked]="idx === 0" 
                        [value]="bike.color" 
                        (change)="onSelectionChange('Classic')">Classic</label> 
                </div>
                <div class='radio'>
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/c/i/circle-race_1_1.png' class='imgcolorbikewizard'> 
                    <label><input type='radio' name='optradio' 
                        [checked]="idx === 0" 
                        [value]="bike.frame" 
                        (change)="onSelectionChange('Race')">Race</label>
                </div> 
                <div class='radio'>
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/p/e/pepper_color.png' class='imgcolorbikewizard'> 
                    <label><input type='radio' name='optradio'
                        [checked]="idx === 0" 
                        [value]="bike.frame" 
                        (change)="onSelectionChange('Pepper')">Pepper</label>
                </div> 
            </div>

            <div class='col-sm-2'>
                <div class='radio'>
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/s/u/submarine_color.png' class='imgcolorbikewizard'> 
                    <label><input type='radio' name='optradio'
                        [checked]="idx === 0" 
                        [value]="bike.frame" 
                        (change)="onSelectionChange('Submarine')">Submarine</label>
                </div> 
                <div class='radio'>
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/c/i/circle-bluebird_1.png' class='imgcolorbikewizard'> 
                    <label><input type='radio' name='optradio'
                        [checked]="idx === 0" 
                        [value]="bike.frame" 
                        (change)="onSelectionChange('Bluebird')">Bluebird</label>
                </div> 
                <div class='radio'>
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/c/i/circle-generic_2.png' class='imgcolorbikewizard'> 
                    <label><input type='radio' name='optradio'
                        [checked]="idx === 0" 
                        [value]="bike.frame" 
                        (change)="onSelectionChange('Milk Plus')">Milk Plus</label>
                </div> 
            </div>

            <div class='col-sm-2'>
                <div class='radio'>
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/c/i/circle-clockwork_1.png' class='imgcolorbikewizard'> 
                    <label><input type='radio' name='optradio'
                        [checked]="idx === 0" 
                        [value]="bike.frame" 
                        (change)="onSelectionChange('Clockwork')">Clockwork</label>
                </div> 
                <div class='radio'>
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/c/i/circle-lizzard-king_1.png' class='imgcolorbikewizard'> 
                    <label><input type='radio' name='optradio'
                        [checked]="idx === 0" 
                        [value]="bike.frame" 
                        (change)="onSelectionChange('Lizardking')">Lizardking</label>
                </div>
                <div class='radio'>
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/c/i/circle-raw_1.png' class='imgcolorbikewizard'> 
                    <label><input type='radio' name='optradio'
                        [checked]="idx === 0" 
                        [value]="bike.frame" 
                        (change)="onSelectionChange('Rå')">Rå</label>
                </div>
            </div>
        </div>
    </form>
</body>