.radio{
    margin:auto;
    
}
.imgcolorbikewizard{
    width:50px;
}
.wrapper{
    margin:auto;
   
}
body{
    background-color:rgb(231, 231, 231);
    height:100000px;
    margin:auto;
}
.col-sm-3{
    margin:auto;
}