<body>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class='wrapper'>
            <input type="button" id="previousButton" class="btn btn-primary" value="Previous" (click)="back()">
            <input type="button" id="nextButton" class="btn btn-primary" value="Next" type="submit">
            <h1> Step 2 - Choose Your Color</h1>
            <div class='col-sm-3'>
                <div class='radio'>
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/c/i/circle-classic_1.png' class='imgcolorbikewizard'> 
                    <label><input type='radio' name='optradio'>Classic</label> 
                </div>
                <div class='radio'>
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/c/i/circle-race_1_1.png' class='imgcolorbikewizard'> 
                    <label><input type='radio' name='optradio'>Race</label>
                </div> 
                <div class='radio'>
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/p/e/pepper_color.png' class='imgcolorbikewizard'> 
                    <label><input type='radio' name='optradio'>Pepper</label>
                </div> 
            </div>

            <div class='col-sm-3'>
                <div class='radio'>
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/s/u/submarine_color.png' class='imgcolorbikewizard'> 
                    <label><input type='radio' name='optradio'>Submarine</label>
                </div> 
                <div class='radio'>
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/c/i/circle-bluebird_1.png' class='imgcolorbikewizard'> 
                    <label><input type='radio' name='optradio'>Bluebird</label>
                </div> 
                <div class='radio'>
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/c/i/circle-generic_2.png' class='imgcolorbikewizard'> 
                    <label><input type='radio' name='optradio'>Milk Plus</label>
                </div> 
            </div>

            <div class='col-sm-3'>
                <div class='radio'>
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/c/i/circle-clockwork_1.png' class='imgcolorbikewizard'> 

                    <label><input type='radio' name='optradio'>Clockwork</label>
                </div> 
                <div class='radio'>
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/c/i/circle-lizzard-king_1.png' class='imgcolorbikewizard'> 

                    <label><input type='radio' name='optradio'>Lizardking</label>
                </div>
                <div class='radio'>
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/c/i/circle-raw_1.png' class='imgcolorbikewizard'> 

                    <label><input type='radio' name='optradio'>Rå</label>
                </div>
            </div>
        </div>
    </form>
</body>