<body>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <button id="previousButton"  class="btn btn-primary" value="Previous" type="submit" (click)="back()">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </button>
    <button id="nextButton" id="nextButton" class="btn btn-primary" value="Next" type="submit">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </button>

<div id="infotext">
    <div class=' col-sm-offset-2 col-sm-8'>
        <h1>
            Step 4 - Customize your bike.
        </h1>  
        <br>
        <p>
            All our models feature powerful, hydraulic disc brake systems for smoother,
            more controlled stopping. We have purposefully chosen brakes from leading manufacturers
            Shimano, Magura and Tektro and matched them to the most relevant component groups.
            For simple aftermarket servicing, we have also ensured our brakes have great brake pad
            durability and easy aftermarket servicing.
        </p>
    </div>
</div>

    <div class='wrapper'>      
        <div class='col-sm-offset-2 col-sm-3'>  
            <h3> Handlebars </h3>  
            <div class='checkbox-handlebars'> 
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/h/a/handlebarriser3.jpg' class='imgbikewizard'>   
                <label><input type='checkbox' value=''> Riserbar</label>  
            </div>   

            <div class='checkbox-handlebars'>   
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/h/a/handlebarflat1.jpg' class='imgbikewizard'>   
                <label><input type='checkbox' value=''> Flatbar</label>  
            </div>   

            <div class='checkbox-handlebars'>   
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/c/r/cruiser_bar.jpg' class='imgbikewizard'>   
                <label><input type='checkbox' value=''> Cruiser</label>  
            </div>  
        </div>   

        <div class='col-sm-3'>  
                <h3>Seatposts (?)<span class="seatspan">The Bullitt is a one frame solution, designed to fit the greatest number of people and we have spent years tweaking geometry. 
                        A sloping top tube, short back-end and low bottom bracket means great manueveurability. 
                        We offer two different seatpost lengths and two different stem lengths to cater for different users, 
                        and our Easyup Stemlifter means the cockpit can quickly and easily be raised to enable more space in the cargo area.
                    </span></h3>  
            <div class='checkbox-seatposts'>   
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/s/e/seatpost1.jpg' class='imgbikewizard'>   
                <label><input type='checkbox' value=''> Short</label>  
            </div>   

            <div class='checkbox-seatposts'>   
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/l/o/longseatpost3_1.jpg' class='imgbikewizard'>   
                <label><input type='checkbox' value=''> Long</label>  
            </div>  
            
        </div>   
        
        <div class='col-sm-3'>  
            <h3> Saddles </h3>  
            <div class='checkbox-saddles'>  
                <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/s/a/saddleraceblack010.jpg' class='imgbikewizard'>
                <label><input type='checkbox' value=''> Race Black</label>  
            </div>

            <div class='checkbox-saddles'>   
                <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/s/a/saddleracewhite009.jpg' class='imgbikewizard'>   
                <label><input type='checkbox' value=''> Race White</label>  
            </div>   

            <div class='checkbox-saddles'>   
                <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/b/1/b17_standard-brown_w800_h600_vamiddle_jc95.jpg' class='imgbikewizard'>   
                <label><input type='checkbox' value=''> Brooks B17, Brown </label>  
            </div>   

            <div class='checkbox-saddles'>   
                <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/b/1/b17_standard_black_1_w800_h600_vamiddle_jc95_1.jpg' class='imgbikewizard'>   
                <label><input type='checkbox' value=''> Brooks B17, Black  </label>  
            </div>   

            <div class='checkbox-saddles'>   
                <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/b/6/b67_brown_w800_h600_vamiddle_jc95.jpg' class='imgbikewizard'>   
                <label><input type='checkbox' value=''> Brooks B67, Brown    </label>  
            </div>   

            <div class='checkbox-saddles'>   
                <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/b/6/b67_black_w375_h275_vamiddle_jc95_1.jpg' class='imgbikewizard'>   
                <label><input type='checkbox' value=''> Brooks B67, Black  </label>  
            </div>  
        </div>   
    </div>
  
    </form>
</body>