<body>
  
    <h1> Step 3 - Model</h1>  

    <div class='col-sm-6'>  

        <div class='radio'>  
            <label><input type='radio' name='optradio'>SINGLESPEED COMPONENT GROUP  </label>   
        </div> 
        <div class='radio'>  
            <label><input type='radio' name='optradio'>NEXUS 7 COMPONENT GROUP  </label>   
        </div>   
        <div class='radio'>  
            <label><input type='radio' name='optradio'>ALFINE 8 COMPONENT GROUP</label>  
        </div>   
        <div class='radio'>  
            <label><input type='radio' name='optradio'>ALFINE 8 GATES COMPONENT GROUP  </label>  
        </div>   
    </div>  

    <div class='col-sm-6'>  
        <div class='radio'>  
            <label><input type='radio' name='optradio'>ALFINE DI2 11/GATES COMPONENT GROUP </label>  
        </div>   
        <div class='radio'>  
            <label><input type='radio' name='optradio'>DEORE 20 COMPONENT GROUP  </label>  
        </div>   
        <div class='radio'>  
            <label><input type='radio' name='optradio'>XT 22 COMPONENT GROUP  </label>  
        </div>   
    </div>      
 
    <div class='col-med-10 columns tablecontent'> 
            <details>
        <summary>Comparison Chart</summary>
       
      
            <table  class='table table-striped'> 
            <tbody> 
                <tr> 
                    <td></td> 
                    <td style="width: 15px;"></td> 
                    <td> 
                        <h4>Nexus 7</h4> 
                    </td> 
                    <td> 
                        <h4>Alfine 8</h4> 
                    </td> 
                    <td> 
                        <h4>Alfine 11 Di2/Gates Drive</h4> 
                    </td> 
                </tr> 
                <tr> 
                    <td><strong>Drivetrain</strong></td> 
                    <td></td> 
                    <td>7 speed internal Nexus hub</td> 
                    <td>8 speed internal Alfine hub</td> 
                    <td>11 speed Di2 Alfine/Gates CDX</td> 
                </tr> 
                <tr> 
                    <td><strong>Wheels</strong></td> 
                    <td></td> 
                    <td>Alex Rims dm24/Novatec hubs</td> 
                    <td>Alex Rims dm24 /Alfine 8 hub</td> 
                    <td>Alex Rims Supra/Alfine 11 hub</td> 
                </tr> 
                <tr> 
                    <td><strong>Tyres</strong></td> 
                    <td></td> 
                    <td>Schwalbe Marathon 1.75″</td> 
                    <td>Schwalbe Marathon 1.75″</td> 
                    <td>Schwalbe Marathon Supreme 1.60″</td> 
                </tr> 
                <tr> 
                    <td><strong>Finishing Kit</strong></td> 
                    <td></td> 
                    <td>Alu seatpost, stem and riserbars</td> 
                    <td>Alu seatpost, stem and riserbars</td> 
                    <td>Alu seatpost, stem and riserbars</td> 
                </tr> 
                <tr> 
                    <td><strong>Pedals</strong></td> 
                    <td></td> 
                    <td>Wellgo flat pedals</td> 
                    <td>Wellgo flat pedals</td> 
                    <td>Wellgo flat pedals</td> 
                </tr> 
                <tr> 
                    <td><strong>Crankset/BB</strong></td> 
                    <td></td> 
                    <td>Truvativ/42T chainring<br> 
                        Truvativ powerspline bb</td> 
                    <td>Alfine crank/42T chainring<br> 
                        Hollowtech 2 bb</td> 
                    <td>Alfine crank/Gates chainring 46T<br> 
                        Hollowtech 2 bb</td> 
                </tr> 
                <tr> 
                    <td><strong>Saddle</strong></td> 
                    <td></td> 
                    <td>Velo Racing</td> 
                    <td>Velo Racing</td> 
                    <td>Velo Racing</td> 
                </tr> 
                <tr> 
                    <td><strong>Brakes</strong></td> 
                    <td></td> 
                    <td>Tektro hydraulic disc front/<br>    
                        back pedal rear brake</td> 
                    <td>Magura MT5 hydraulic disc<br> 
                        brakes w 180mm discs</td>   
                    <td>Magura MT5 hydraulic disc<br> 
                        brakes w 180mm discs</td> 
                </tr> 
            </tbody> 
        </table> 
        <table  class='table table-striped'> 
            <tbody> 
                <tr> 
                    <td></td> 
                    <td style="width: 15px;"></td> 
                    <td> 
                        <h4>Deore 20</h4> 
                    </td> 
                    <td> 
                        <h4>XT 22</h4> 
                    </td> 
                    <td> 
                        <h4>Singlespeed</h4> 
                    </td> 
                </tr> 
                <tr> 
                    <td><strong>Drivetrain</strong></td> 
                    <td></td> 
                    <td>20 speed/Deore derailleurs/11-32 cassette</td> 
                    <td>22 speed/XT derailleurs/<br> 
                        11-42 cassette</td> 
                    <td>–</td> 
                </tr> 
                <tr> 
                    <td><strong>Wheels</strong></td> 
                    <td></td> 
                    <td>Alex Rims dm24/Novatec hubs</td> 
                    <td>Alex Rims Supra/Novatec hubs</td> 
                    <td>Alex Rims dm24/ Novatec hubs</td> 
                </tr> 
                <tr> 
                    <td><strong>Tyres</strong></td> 
                    <td></td> 
                    <td>Schwalbe Marathon 1.75″</td> 
                    <td>Schwalbe Kojak 1.35″</td> 
                    <td>Schwalbe Marathon 1.75″</td> 
                </tr> 
                <tr> 
                    <td><strong>Finishing Kit</strong></td> 
                    <td></td> 
                    <td>Alu seatpost, stem and riserbars</td> 
                    <td>Thomson Trail bar, Elite seatpost, X4 stem and saddleclamp.</td> 
                    <td>Alu seatpost, stem and riserbar</td> 
                </tr> 
                <tr> 
                    <td><strong>Pedals</strong></td> 
                    <td></td> 
                    <td>Wellgo flat pedals</td> 
                    <td>Wellgo flat pedals</td> 
                    <td>Wellgo flat pedals</td> 
                </tr> 
                <tr> 
                    <td><strong>Crankset/BB</strong></td> 
                    <td></td> 
                    <td>Deore crank/40,24T chainrings<br> 
                        Hollowtech II bottom bracket</td> 
                    <td>XT crank/38,28T chainrings<br> 
                        Hollowtech II bottom bracket</td> 
                    <td>Truvativ (42t chainring)</td> 
                </tr> 
                <tr> 
                    <td><strong>Saddle</strong></td> 
                    <td></td> 
                    <td>Velo Racing</td> 
                    <td>Velo Racing</td> 
                    <td>Velo Racing</td> 
                </tr> 
                <tr> 
                    <td><strong>Brakes</strong></td> 
                    <td></td> 
                    <td>Tektro hydraulic disc<br> 
                        brakes w 180mm discs</td> 
                    <td>Shimano Zee hydraulic disc<br> 
                        brakes w 180mm discs</td> 
                    <td>Tektro hydraulic disc brakes<br> 
                        w 180mm discs</td> 
                </tr> 
            </tbody> 
        </table> 
        <table  class='table table-striped'> 
            <tbody> 
                <tr> 
                    <td></td> 
                    <td style="width: 15px;"></td> 
                    <td> 
                        <h4>Zee 10</h4> 
                    </td> 
                    <td> 
                        <h4>Saint 10</h4> 
                    </td> 
                    <td></td> 
                </tr> 
                <tr> 
                    <td><strong>Drivetrain</strong></td> 
                    <td></td> 
                    <td>10 speed/Zee derailleur/<br> 
                        11-36t cassette</td> 
                    <td>10 speed/Saint derailleur/<br> 
                        11-36t cassette</td> 
                    <td></td> 
                </tr> 
                <tr> 
                    <td><strong>Wheels</strong></td> 
                    <td></td> 
                    <td>Alex Rims DM24/ Zee hubs<br> 
                        (20mm thru axle front)</td> 
                    <td>Alex Rims Supra/ Saint hubs<br> 
                        (20mm thru axle)</td> 
                    <td></td> 
                </tr> 
                <tr> 
                    <td><strong>Tyres</strong></td> 
                    <td></td> 
                    <td>Schwalbe Marathon 1.75″</td> 
                    <td>Schwalbe Marathon Supreme 1.60″</td> 
                    <td></td> 
                </tr> 
                <tr> 
                    <td><strong>Finishing Kit</strong></td> 
                    <td></td> 
                    <td>Alu seatpost, stem and riserbars</td> 
                    <td>FSA Carbon bar and seatpost, FSA stem</td> 
                    <td></td>
                </tr>
                <tr>
                    <td><strong>Pedals</strong></td>
                    <td></td>
                    <td>Wellgo flat pedals</td>
                    <td>Wellgo flat pedals</td>
                    <td></td>
                </tr>
                <tr>
                    <td><strong>Crankset/BB</strong></td>
                    <td></td>
                    <td>Zee crank/36T chainring<br>
                        Hollowtech 2 bb</td>
                    <td>Saint crank/36T chainring</td>
                    <td></td>
                </tr>
                <tr>
                    <td><strong>Saddle</strong></td>
                    <td></td>
                    <td>Velo Racing</td>
                    <td>Velo Racing</td>
                    <td></td>
                </tr>
                <tr>
                    <td><strong>Brakes</strong></td>
                    <td></td>
                    <td>Shimano Zee hydraulic disc<br>
                        brakes w 203mm discs</td>
                    <td>Shimano Saint hydraulic disc<br>
                        brakes w 203mm discs</td>
                    <td></td>
                </tr>
            </tbody>
            </table>
        



    </details>
    </div>

</body>


