body{
    background-color:rgb(231, 231, 231);
    min-height:900px;
}


.col-sm-6{
   margin:auto;
  
   
  }
.radio{
  display:inline-block;
  width:300px;
}
.componentimg{
  width:200px;
  display:block;
}
.inner {
  width: 75%;
  margin: 0 auto;
}