<body>
    <form [formGroup]="form" (ngSubmit)="submit()">
            <button id="previousButton"  class="btn btn-primary" value="Previous" type="submit" (click)="back()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </button>
        <button id="nextButton" id="nextButton" class="btn btn-primary" value="Next" type="submit">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </button>
        <h1> Step 3 - Model</h1>  
<br>
        <div class='col-sm-offset-3 col-sm-6-left col-sm-offset-3'>  

            <div class='radio'>  
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/s/i/singleb_1.jpg' class='componentimg'>                  
                <label><input type='radio' name='optradio'
                    [checked]="idx === 0" 
                    [value]="bike.frame" 
                    (change)="onSelectionChange('SINGLESPEED COMPONENT GROUP', 746)">SINGLESPEED <br> COMPONENT GROUP  +€746.00</label>   
            </div> 
            <div class='radio'> 
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/n/e/nexus7_b_1.jpg' class='componentimg'>  
                <label><input type='radio' name='optradio'
                    [checked]="idx === 0" 
                    [value]="bike.frame" 
                    (change)="onSelectionChange('NEXUS 7 COMPONENT GROUP', 688)">NEXUS 7 <br> COMPONENT GROUP  +€688.00</label>   
            </div>   
            <div class='radio'>  
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/a/l/alfine8new_breaks10x17_1.jpg' class='componentimg'> 
                <label><input type='radio' name='optradio'
                    [checked]="idx === 0" 
                    [value]="bike.frame" 
                    (change)="onSelectionChange('ALFINE 8 COMPONENT GROUP', 1037)">ALFINE 8 <br> COMPONENT GROUP  +€1,037.00</label>  
            </div>   
        </div>  

        <div class='col-sm-offset-3 col-sm-6-left col-sm-offset-3'>  
            <div class='radio'>  
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/a/l/alfine_8_gates_left.jpg' class='componentimg'> 
                <label><input type='radio' name='optradio'
                    [checked]="idx === 0" 
                    [value]="bike.frame" 
                    (change)="onSelectionChange('ALFINE 8 GATES COMPONENT GROUP', 1322.5)">ALFINE 8 GATES <br> COMPONENT GROUP  +€1,322.50</label>  
            </div>   
            <div class='radio'>
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/a/l/alfinedi2gates_collage_1000x1700.jpg' class='componentimg'> 
                <label><input type='radio' name='optradio'
                    [checked]="idx === 0" 
                    [value]="bike.frame" 
                    (change)="onSelectionChange('ALFINE DI2 11/GATES', 2024)">ALFINE DI2 11/GATES <br> COMPONENT GROUP +€2,024.00</label>  
            </div>   
            <div class='radio'>  
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/d/e/deore27.jpg' class='componentimg'> 
                <label><input type='radio' name='optradio'
                    [checked]="idx === 0" 
                    [value]="bike.frame" 
                    (change)="onSelectionChange('DEORE 20 COMPONENT GROUP', 1037)">DEORE 20 <br> COMPONENT GROUP  +€1,037.00</label>  
            </div>
        </div>  
        
                <div class='col-sm-offset-3 col-sm-6-left col-sm-offset-3'>
            <div class='radio'>  
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/x/t/xt22_groupset_left.jpg' class='componentimg'> 
                <label><input type='radio' name='optradio'
                    [checked]="idx === 0" 
                    [value]="bike.frame" 
                    (change)="onSelectionChange('XT 22 COMPONENT GROUP', 1699)">XT 22 <br> COMPONENT GROUP  +€1,699.00</label>  
            </div>
            
        </div>    
    </form>

</body>


