<body>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <input type="button" id="previousButton" class="btn btn-primary" value="Previous" (click)="back()">
        <input type="button" id="nextButton" class="btn btn-primary" value="Next" type="submit">
        <h1> Step 3 - Model</h1>  

        <div class='col-sm-6-left'>  

            <div class='radio'>  
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/s/i/singleb_1.jpg' class='componentimg'>                  
                <label><input type='radio' name='optradio'>SINGLESPEED COMPONENT GROUP  </label>   
            
            </div> 
            <div class='radio'> 
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/n/e/nexus7_b_1.jpg' class='componentimg'>  
                <label><input type='radio' name='optradio'>NEXUS 7 COMPONENT GROUP  </label>   
            </div>   
            <div class='radio'>  
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/a/l/alfine8new_breaks10x17_1.jpg' class='componentimg'> 
                <label><input type='radio' name='optradio'>ALFINE 8 COMPONENT GROUP</label>  
            </div>   
            <div class='radio'>  
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/a/l/alfine_8_gates_left.jpg' class='componentimg'> 
                <label><input type='radio' name='optradio'>ALFINE 8 GATES COMPONENT GROUP  </label>  
            </div>   
        </div>  

        <div class='col-sm-6-right'>  
            <div class='radio'>
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/a/l/alfinedi2gates_collage_1000x1700.jpg' class='componentimg'> 
                <label><input type='radio' name='optradio'>ALFINE DI2 11/GATES COMPONENT GROUP </label>  
            </div>   
            <div class='radio'>  
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/d/e/deore27.jpg' class='componentimg'> 
                <label><input type='radio' name='optradio'>DEORE 20 COMPONENT GROUP  </label>  
            </div>   
            <div class='radio'>  
                    <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/x/t/xt22_groupset_left.jpg' class='componentimg'> 
                <label><input type='radio' name='optradio'>XT 22 COMPONENT GROUP  </label>  
            </div>
            
        </div>    
    </form>

</body>


