h1 {
  text-align: center;
}

body{
    background-color:rgb(231, 231, 231);
    min-height:900px;
}

.radio{
  display:inline-block;
  width:auto;
  height: 200px; 
  margin: 15px;
}
.componentimg{
  height: 150px;
  display:block;
  margin: auto;
}

.col-sm-6-left, .col-sm-6-right {
  text-align: center;
}