body{
    background-color:rgb(231, 231, 231);
    height:1000px;
}


.col-sm-6-left, .col-sm-6-right {
  float: left;
  overflow: hidden;
  border-radius: 3px;
  margin-right: 10px;
  max-width: calc(50% - 5px);
 }

 .col-sm-6-right {
  margin-right: 0px;
 }

 .radio {
   display: 
 }

  .tablecontent{
    display:block;
    margin:20px;
    min-width: 750px;
    margin-top:150px;
  
  }
  .tablecontent table{
    margin:auto;
  
  }
  
  .tablecontent td {
    max-width:230px;
  font-size: 12px;
    margin:10px;
    padding:10px;
  
  }
  .tablecontent td h4 {
    margin:20px;
    font-size: 15px;
  }

.table{
    max-width:750px;
}
.wrapper{
    margin:auto;
    padding:auto;
    text-align:center;
}

.col-med-10.columns.tablecontent {
font-weight: bold;
font-size: 24px;
float: left;
text-align: center;
vertical-align: middle;
}