<body>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class='wrapper'>
          <button id="previousButton"  class="btn btn-primary" value="Previous" type="submit" (click)="back()">
              <span class="glyphicon glyphicon-chevron-left"></span>
           </button>
          <button id="nextButton" id="nextButton" class="btn btn-primary" value="Next" type="submit">
              <span class="glyphicon glyphicon-chevron-right"></span>
          </button>
        
        
          <h1> Step 6 - Extras</h1>  
   <div class='col-sm-6'>  
     <div class='checkbox'>  
        <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/d/y/dynamowheelsupra3.jpg' class='imgbikewizard' >  
        
   <label><input type='checkbox' value='' [(ngModel)]="dynamo" [ngModelOptions]="{standalone: true}">DYNAMO 20\" FRONT WHEEL (ALFINE/ALEX DM24) +€166.00</label>  
   </div>   
     <div class='checkbox'>   
        <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/r/e/reelight.jpg' class='imgbikewizard' > 
   <label><input type='checkbox' value='' [(ngModel)]="reelights" [ngModelOptions]="{standalone: true}">REELIGHTS +€76.00</label>  
   </div>   
     <div class='checkbox'>   
        <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/s/c/screen_shot_2017-03-14_at_12.37.20.png' class='imgbikewizard' > 
        
   <label><input type='checkbox' value='' [(ngModel)]="kickstand" [ngModelOptions]="{standalone: true}">CROMO KICKSTAND +€102.00</label>  
   </div>  
   </div>   
   <div class='col-sm-6'>  
     <div class='checkbox'>   
        <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/t/h/the_abus_granit_x_plus_is_aboutas_secure_as_a_portable_lock_can_be.jpg' class='imgbikewizard' > 
   <label><input type='checkbox' value='' [(ngModel)]="granite1" [ngModelOptions]="{standalone: true}">ABUS 5400 GRANITE U-LOCK +€145.00</label>  
   </div>   
     <div class='checkbox'>   
        <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/a/b/abus_bordo.png' class='imgbikewizard' > 
   <label><input type='checkbox' value='' [(ngModel)]="granite2" [ngModelOptions]="{standalone: true}">ABUS BORDO 6500 GRANIT X PLUS +€131.00</label>  
   </div>   
     <div class='checkbox'>   
        <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/a/b/abus-ivy-steel-o-chain-9100-110-art-3.jpg' class='imgbikewizard' > 
   <label><input type='checkbox' value='' [(ngModel)]="ivy" [ngModelOptions]="{standalone: true}">ABUS 9100 IVY CHAIN LOCK +€131.00</label>  
   </div>   
     <div class='checkbox'>   
        <img src='http://shop.larryvsharry.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/a/b/abusset1.jpg' class='imgbikewizard' > 
   <label><input type='checkbox' value='' [(ngModel)]="bordo" [ngModelOptions]="{standalone: true}">ABUS BORDO + DETECTO 8077 ALARM +€319.00</label>  
   </div>  
   </div>   
          </div>
        </form>
    </body>