<body>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group">
      
            <button id="previousButton"  class="btn btn-primary" value="Previous" (click)="back()">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
            <h1>Step 9 - Order Confirmation</h1>
            <p>
                Congratulations on ordering your new Bullitt. You'll be flying in no time. <br>
                As soon as we're able to confirm you payment, you will receive a confirmation <br>
                email, with an estimated delivery date along with your invoice. If you have <br>
                any last minute changes you want to add, you're welcome to contact us at: <br>
                +45 31 36 17 19 or alternatively send us an email at: info@larryvsharry.com <br>
                We hope you will be happy with your new bike.
            </p>
            <button id="nextButton"  class="btn btn-primary" value="Start" type="submit">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
    </form>
</body>
