<body>
<form [formGroup]="form" (ngSubmit)="submit()">
    <h1>Step 7 - What you are buying</h1>
    <button id="previousButton"  class="btn btn-primary" value="Previous" type="submit" (click)="back()">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </button>
    <button id="nextButton" id="nextButton" class="btn btn-primary" value="Next" type="submit">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
    <div>
        <p>
            Here you will find a list of what items you have checked off, and recommendations on what you are missing.<br> 
            Here you can check off things if you have regret or do not want to buy them.<br>
            If everything seems like it is in order, then just click next and go to the payment site.
        </p>
        <p>{{ overviewString }}</p>
    </div>
</form>
</body>