#welcomeHeadline {
    text-align: center;
  
    margin-bottom:50px;
}

#welcomeText {
    text-align: center;
    line-height: 1.8;
    font-weight: bold;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}
#welcomeTextBox {
    width: 750px;
    margin:auto;
    border-top: 1px solid rgb(180, 180, 180);
    border-bottom: 1px solid rgb(180, 180, 180);
    margin-top:10px;
    margin-bottom:10px;
}