<div>
<input type="button" id="previousButton" class="btn btn-primary" value="Previous" [disabled]="prevDisabled"
    style="float: left; margin-left: 10px; height: 900px; width: 100px;" (click)="previous()">
<input type="button" id="nextButton" class="btn btn-primary" value="Start" [disabled]="nextDisabled"
    style="float: right; margin-right: 10px; height: 900px; width: 100px;" (click)="next()">
</div>

<h1 style="text-align: center;"> Welcome to the Bullitt Builder</h1>
<p>Bullitt’s are as different as the people who ride them and with years of experience,<br/>
    we have developed what we believe to be the ultimate, do-it-all cargo bike.<br/>
    Designed, built and ridden daily in Copenhagen and across the globe.<br/> 
    9 colour options and a diverse component and accessory line.<br/> 
    With quick delivery and availability, competitive pricing and a highly<br/>
    developed system of components and accessories, the Bullitt is the quickest,<br/>
    most flexible and durable solution currently on the market.<br/>
    This buyer’s guide is designed to help you choose the correct<br/>
    Bullitt model and pair you with the most appropriate accessories for your needs.</p>