#welcomeHeadline {
    text-align: center;
    margin-bottom:25px;
}

#welcomeText {
    text-align: center;
    line-height: 1.8;
    font-weight: bold;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}
#welcomeTextBox {
    width: 750px;
    margin:auto;
    border-top: 1px solid rgb(180, 180, 180);
    margin-top:25px;
  
    margin-bottom:10px;
}
body{
    background-color:rgb(231, 231, 231);
}
.carousel-control.right{
    background-image: linear-gradient(to right,rgba(252, 252, 252, 0) 0,
    rgba(0, 0, 0, 0.56) 100%) !important;
}
.carousel-control.left{
    background-image: linear-gradient(to left,rgba(252, 252, 252, 0) 0,
    rgba(0, 0, 0, 0.56) 100%) !important;
    }